body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: powderblue;
    /* padding: 0%;
    margin: 0%; */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    /* grid-template-rows: 1/8fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1/2fr 1fr 1fr 1fr; */
}

div {
    /* border: 3px solid red; */
    margin: 0em;
    padding: 0em;
}


.title {
    /* grid-area: "I"; */
    background-color: pink;
    /* grid-template-areas: "I I I"; */
    /* grid-column: 1/4;
    grid-row: 1/1; */
    margin: 2em;
    padding: 2em;
    color: lightseagreen;
    border-radius: 2em;
    font-size: x-large;
    order: 0;
    align-self: center;
    max-width: 75%;
    padding: 2em;
}

.pictures {}

.one {
    order: 1;
    width: 30em;
    height: 30em;
}

.two {
    order: 2;
    width: 30em;
    height: 30em;
}

.three {
    order: 3;
    width: 30em;
    height: 30em;
}

.four {
    order: 4;
    width: 30em;
    height: 30em;
}

.five {
    order: 5;
    width: 30em;
    height: 30em;
}

.six {
    order: 6;
    width: 30em;
    height: 30em;
}

img {
    max-width: 75%;
    object-fit: scale-down;
}

.homepage-btn {
    margin: 2em;
    padding: 2em;
    order: 7;
    align-self: center;
}

a {
    background-color: pink;
    color: lightseagreen;
    padding: 2em 2em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2em;
}
/* 
h1 {
    display: inherit;
} */