body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: powderblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .6fr 1.4fr .6fr;
}

div {
    text-align: center;
    /* border: 3px solid red; */
}

.title {
    background-color: pink;
    grid-column: 1/4;
    grid-row: 1/1;
    margin: 2em;
    padding: 2em;
    color: lightseagreen;
    border-radius: 2em;
    font-size: x-large;
}

.one {
    grid-column: 1/1;
    grid-row: 2/2;
}

.two {
    grid-column: 2/2;
    grid-row: 2/2;
}

.three {
    grid-column: 3/3;
    grid-row: 2/2;
}

img {
    max-width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.homepage-btn {
    grid-column: 1/4;
    grid-row: 3/3;
    margin: 2em;
    padding: 2em;
}

a {
    background-color: pink;
    color: lightseagreen;
    padding: 2em 2em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2em;
}

@media (max-width: 1000px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .8fr 1fr .8fr;
    }
}

@media (max-width: 680px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    }
    .title {
        grid-column: 1/1;
        grid-row: 1/1;
    }
    .one {
        grid-column: 1/1;
        grid-row: 2/2;
    }
    .two {
        grid-column: 1/1;
        grid-row: 3/3;
    }
    .three {
        grid-column: 1/1;
        grid-row: 4/4;
    }
    .homepage-btn {
        grid-column: 1/1;
        grid-row: 5/5;
    }
}