body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: powderblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

div {
    margin: 0em;
    padding: 0em;
}

.title {
    background-color: pink;
    margin: 2em;
    padding: 2em;
    color: lightseagreen;
    border-radius: 2em;
    font-size: x-large;
    order: 0;
    align-self: center;
    max-width: 75%;
    padding: 2em;
}

.one {
    order: 1;
    width: 30em;
    height: 30em;
}

.two {
    order: 2;
    width: 30em;
    height: 30em;
}

.three {
    order: 3;
    width: 30em;
    height: 30em;
}

.four {
    order: 4;
    width: 30em;
    height: 30em;
}

.five {
    order: 5;
    width: 30em;
    height: 30em;
}

.six {
    order: 6;
    width: 30em;
    height: 30em;
}

img {
    max-width: 75%;
    object-fit: scale-down;
    border-radius: 50%;
}

.homepage-btn {
    margin: 2em;
    padding: 2em;
    order: 7;
    align-self: center;
}

a {
    background-color: pink;
    color: lightseagreen;
    padding: 2em 2em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2em;
}